$primary-color: #00F0E0;

.button {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  label {
    font-weight: bold;
  }

  button {
    background-color: $primary-color;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    padding: 15px;
    border-radius: 5px;
  }
}
